
<div class="panel panel-info ">
    <div class="panel-heading clearfix pad10">
        <h1>Search Result</h1>
        <a (click)="openPDF()">PDF Convert</a>
        <button (click)="goToPage('modal')" type="button" class="btn btn-primary pull-right">Back</button>
    </div>
</div>
<div class="container-fluid pad0">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <div class="row rowinner">
                        <div class="col-sm-6">
                            <h5 class='text-primary'><strong>06/01/2017 12:00:00 AM</strong></h5>
                            <h5><strong><a class='text-success' (click)="ConvertToPdf">Generate PDF</a></strong></h5>
                        </div>
                        <div class="col-sm-6">
                            <span><h6>Type : </h6> Adjusment of the clearance of the case</span>
                        </div>
                        <!--<div class="col-sm-12 text-success"><h6><a (click)="ConvertToPdf">Generate PDF</a></h6></div>-->
                    </div>
                    <div class="col-sm-12">
                        <div class="row rowinner"><h5> Department Vs </h5></div>
                        <div class="row rowinner">
                            <table class="table">
                                <tr>
                                    <td>Person 1</td>
                                    <td>DOB: 05/05/2017</td>
                                    <td>Role1</td>
                                </tr>
                                <tr>
                                    <td>Person 2</td>
                                    <td>DOB: 05/05/2017</td>
                                    <td>Role3</td>
                                </tr>
                                <tr>
                                    <td>Person 3</td>
                                    <td>DOB: 05/05/2017</td>
                                    <td>Role2</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row rowinner"><h5>Related clearance </h5></div>
                        <div class="row rowinner" style="font-weight:bold">
                            <table class="table">
                                <tr>
                                    <td>08/01/2017 10:30:00 AM</td>
                                    <td>Related Clearance - Testing of related</td>
                                </tr>
                                <tr>
                                    <td>08/01/2017 10:30:00 AM</td>
                                    <td>Related Clearance - Testing of related</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                </td>
            </tr>
            <td>
                <div class="col-sm-12">
                    <hr>
                </div>
            </td>
            <tr>
                <td>
                    <div class="row rowinner">
                        <div class="col-sm-6">
                            <h5 class='text-primary'><strong>06/01/2017 12:00:00 AM</strong></h5>
                            <h5><strong><a class='text-success' (click)="ConvertToPdf">Generate PDF</a></strong></h5>
                        </div>
                        <div class="col-sm-6">
                            <span><h6>Type : </h6> Adjusment of the clearance of the case</span>
                        </div>
                        <!--<div class="col-sm-12 text-success"><h6><a (click)="ConvertToPdf">Generate PDF</a></h6></div>-->
                    </div>
                    <div class="col-sm-12">
                        <div class="row rowinner"><h5> Department Vs </h5></div>
                        <div class="row rowinner">
                            <table class="table">
                                <tr>
                                    <td>Person 1</td>
                                    <td>DOB: 05/05/2017</td>
                                    <td>Role1</td>
                                </tr>
                                <tr>
                                    <td>Person 2</td>
                                    <td>DOB: 05/05/2017</td>
                                    <td>Role3</td>
                                </tr>
                                <tr>
                                    <td>Person 3</td>
                                    <td>DOB: 05/05/2017</td>
                                    <td>Role2</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row rowinner"><h5>Related clearance </h5></div>
                        <div class="row rowinner" style="font-weight:bold">
                            <table class="table">
                                <tr>
                                    <td>08/01/2017 10:30:00 AM</td>
                                    <td>Related Clearance - Testing of related</td>
                                </tr>
                                <tr>
                                    <td>08/01/2017 10:30:00 AM</td>
                                    <td>Related Clearance - Testing of related</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                </td>
            </tr>
            <td>
                <div class="col-sm-12">
                    <hr>
                </div>
            </td>
            <tr>
                <td>
                    <div class="row rowinner">
                        <div class="col-sm-6">
                            <h5 class='text-primary'><strong>06/01/2017 12:00:00 AM</strong></h5>
                            <h5><strong><a class='text-success' (click)="ConvertToPdf">Generate PDF</a></strong></h5>
                        </div>
                        <div class="col-sm-6">
                            <span><h6>Type : </h6> Adjusment of the clearance of the case</span>
                        </div>
                        <!--<div class="col-sm-12 text-success"><h6><a (click)="ConvertToPdf">Generate PDF</a></h6></div>-->
                    </div>
                    <div class="col-sm-12">
                        <div class="row rowinner"><h5> Department Vs </h5></div>
                        <div class="row rowinner">
                            <table class="table">
                                <tr>
                                    <td>Person 1</td>
                                    <td>DOB: 05/05/2017</td>
                                    <td>Role1</td>
                                </tr>
                                <tr>
                                    <td>Person 2</td>
                                    <td>DOB: 05/05/2017</td>
                                    <td>Role3</td>
                                </tr>
                                <tr>
                                    <td>Person 3</td>
                                    <td>DOB: 05/05/2017</td>
                                    <td>Role2</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row rowinner"><h5>Related clearance </h5></div>
                        <div class="row rowinner" style="font-weight:bold">
                            <table class="table">
                                <tr>
                                    <td>08/01/2017 10:30:00 AM</td>
                                    <td>Related Clearance - Testing of related</td>
                                </tr>
                                <tr>
                                    <td>08/01/2017 10:30:00 AM</td>
                                    <td>Related Clearance - Testing of related</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                </td>
            </tr>
            <td>
                <div class="col-sm-12">
                    <hr>
                </div>
            </td>
           
        </tbody>
    </table>
</div>